<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JOHN L</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- ONLY EDIT BELOW THIS LINE -->

<title>JOHN</title>
  <header> 
    <img src="headshot.jpg" alt="JOHN DUDE" class="headshot">
    <h1>John Lim</h1>
    <p>I inspire to be a therapist in the future as my career</p>
    <button id="dark-mode-toggle">🌙 Dark Mode</button>
  </header>

</section id="About Me">
<h2>About Me</h2>
  </p>Some things about myself is that I like to draw a lot within my free time, I can be extroverted and really friendly around new people and friends, and I like to play games such as marvel rivals on my xobx.
  I also love to go out and explore and try new things keeping an open mindset to the world around me.<p>
    </p>
  </section>

  <section id="projects">
    <h2>Projects</h2>
    <ul>
      <li>A project that I have worked on is the making of a mini 3d city using angles and sizes within the project.</li>
      <li>Another project I did was a group assignment sldies where we presented if living in the ocean or space would be better.</li>
      <li>One last project I have done is another group project where me and my teamates had to present about a book. </li>
    </ul>

  </section id="Work Experience">
   <h2>Work Experience</h2>
</p>Summer Youth Worker 2024</p>
<li>Setting up evenets</li>
<li>Cleaning the park</li>
<li></li>
</p>Summer Youth Worker 2025</p>
</p>Theatre Tech Crew 2026</p>

<h2>Extracurricular Activities</h2>

    <h2>Skills</h2>
    <ul>
      <li>Communication skills</li>
      <li>Creativity skills</li>
      <li>Cooperation Skills </li>
    </ul>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>
      <a href="#">johntlim3@gmail.com</a>
      <a>310-415-1736</a>
    </p>
  </section>

  <footer>
    <p>&copy; 2026 John Lim</p>
  </footer>

  <!-- ONLY EDIT ABOVE THIS LINE -->

  <script src="script.js"></script>
</body>
</html>
